.markdown {
  border: none;
  border-radius: $br--default;
  width: 100%;
  height: auto;
  display: block;
  outline: none;
  padding: em(18px);
  background: $color-secondary;
  color: $color-text-base;
  font-family: $font-family--secondary;
  font-size: $base__font-size;
  overflow: auto;
}
