// font stacks
$font-url--google: "https://fonts.googleapis.com/css?family=Noto+Sans:400,700";
$font-family--primary: "Noto Sans", sans-serif;

// font weights

$font-weight--regular: 400;
$font-weight--bold: 700;
// text

$base__font-size: 16px;
$base__line: 26px;

//descriptive color variables

$white: #fff;
$black: #000;
$tuna: #303641;
$periwinkle: #bcd4ff;
$rock-blue: #97a9cc;

//functional color variables

$color-primary: $tuna;
$color-secondary: $white;

$color-text-light: $white;
$color-text-base: $black;

$color-link-default: $periwinkle;
$color-link-visited: $rock-blue;
// breakpoints

$brkpoint--sm: 1px;
$brkpoint--md: 768px;

// border radius

$br--default: 0.3em;

//grid

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1400px;
