.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  @include mq(medium) {
    width: 90%;
  }
}

.grid {
  @include e(row) {
    width: 100%;
    @include mq(medium) {
      @include flex(flex, row,space-between);
    }
  }
  @include e(col) {
    @include mq(medium) {
      @include g-columns;
    }
  }
}
